:root {
     --bg: hsl(210, 40%, 96%);
     --bg1: hsl(210, 30%, 98%);
     --bg2: hsl(210, 20%, 94%);

    --acc: hsl(200, 100%, 50%);

    --txt1: hsl(0, 0%, 10%);
    --txt2: hsl(0, 0%, 30%);
    --txt3: hsl(0, 0%, 50%);
}

* {margin:0;}
body {margin:0; background: var(--bg);}