:root {
    --acc: hsl(220, 100%, 50%);

    --bg: hsl(180, 25%, 90%);

    --bg1: hsl(180, 25%, 94%);
    --bg2: hsl(180, 25%, 98%);

    --txt1: hsl(0, 0%, 10%);
    --txt2: hsl(0, 0%, 30%);
    --txt3: hsl(0, 0%, 50%);
}
