:root {
    --acc: hsl(200, 100%, 50%);

    --bg: hsl(200, 25%, 90%);

    --bg1: hsl(200, 25%, 94%);
    --bg2: hsl(200, 25%, 98%);

    --txt1: hsl(0, 0%, 10%);
    --txt2: hsl(0, 0%, 30%);
    --txt3: hsl(0, 0%, 50%);
}

* {margin:0;}
body {margin:0;}